<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('Check Out')">

</head>
<body>
<header th:replace="common/template_menu::header">

</header>
<div id="Content">
    <div id="Catalog">
        <form method="post" action="/order/makeorder">
            <table>
                <tr>
                    <th colspan=2>Payment Details</th></tr>
                <tr>
                    <td>Card Type:</td>
                    <td>
                        <select name="order.cardType">
                            <option value="Visa" selected="selected">Visa</option>
                            <option value="MasterCard">MasterCard</option>
                            <option value="American Express">American Express</option></select>
                    </td>
                </tr>
                <tr>
                    <td>Card Number:</td>
                    <td>
                        <input name="order.creditCard" type="text" value="999 9999 9999 9999" />* Use a fake number!</td></tr>
                <tr>
                    <td>Expiry Date (MM/YYYY):</td>
                    <td>
                        <input name="order.expiryDate" type="text" value="12/03" /></td>
                </tr>
                <tr>
                    <th colspan=2>Billing Address</th></tr>
                <tr>
                    <td>First name:</td>
                    <td>
                        <input name="order.billToFirstName" type="text" th:value="${account.firstName}" /></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>
                        <input name="order.billToLastName" type="text" th:value="${account.lastName}" /></td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td>
                        <input size="40" name="order.billAddress1" type="text" th:value="${account.address1}" /></td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td>
                        <input size="40" name="order.billAddress2" type="text" th:value="${account.address2}" /></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>
                        <input name="order.billCity" type="text" th:value="${account.city}" /></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>
                        <input size="4" name="order.billState" type="text" th:value="${account.state}" /></td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td>
                        <input size="10" name="order.billZip" type="text" th:value="${account.zip}" /></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td>
                        <input size="15" name="order.billCountry" type="text" th:value="${account.country}" /></td>
                </tr>
                <tr>
                    <td colspan=2>
                        <input name="shippingAddressRequired" type="checkbox" value="true" />Ship to different address...</td></tr>
            </table>
            <input name="newOrder" type="submit" value="Continue" />
        </form>
    </div>
</div>
<footer th:replace="common/template_menu::footer">

</footer>
</body>
</html>