<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/template_head::head('MyPetStore Main')">

    </head>
    <style type="text/css">
        #box li{
            position: absolute;
            transition: 0.5s;
        }
        .item1{
            transform: scale(0.81);/*缩小*/
            transform-origin: 0% 100%; /*变化原点*/
            z-index: 1;
        }
        .item2{
            transform: translateX(200px) scale(0.81);
            transform-origin: 0% 100%;
            z-index: 2;
        }
        .item3{
            transform: translateX(400px);
            z-index: 3;
        }
        .item4{
            transform: translateX(600px) scale(0.81);
            transform-origin: 100% 100%;
            z-index: 2;
        }
        .item5{
            transform: translateX(800px) scale(0.81);
            transform-origin: 100% 100%;
            z-index: 1;
        }
    </style>
    <body>
        <header th:replace="common/template_menu::header">

        </header>
        <div id="Content">
            <div id="Welcome">
                <div id="WelcomeContent">
                    <th:block th:if="${session.account!=null}">
                        <th:block th:text="'Welcome '+${session.account.firstName}+'!'"></th:block>
                    </th:block>
                </div>
            </div>
            <div>
                <ul id="box" th:margin-left:30px >
                    <li class="item1" onclick="prepic()"><img src="/images/fish3.gif" width="250px" height="250px"></li>
                    <li class="item2" onclick="prepic()"><img src="/images/dog2.gif" width="250px" height="250px"></li>
                    <li class="item3" onclick="fff()"><img src="/images/lizard2.gif" width="250px" height="250px"></li>
                    <li class="item4" onclick="nextpic()"><img src="/images/cat1.gif" width="250px" height="250px"></li>
                    <li class="item5" onclick="nextpic()"><img src="/images/bird1.gif" width="250px" height="250px"></li>
                </ul>
                <img src="/images/bg.png" width="500px" height="300px">
            </div>
            <script type="text/javascript">
                var box=document.getElementById('box');
                var aLi=box.getElementsByTagName('li');
                var aName=[];
                var fish_url = "http://localhost:8080/catalog/item?itemId=EST-4&productId=FI-FW-01";
                var dog_url = "http://localhost:8080/catalog/item?itemId=EST-6&productId=K9-BD-01";
                var lizard_url = "http://localhost:8080/catalog/item?itemId=EST-13&productId=RP-LI-02";
                var cat_url = "http://localhost:8080/catalog/item?itemId=EST-16&productId=FL-DLH-02";
                var bird_url = "http://localhost:8080/catalog/item?itemId=EST-18&productId=AV-CB-01";

                for(var item of aLi){
                    aName.push(item.classList[0]);//获取类名并存储到类名中
                }
                function fff() {
                    window.location.href = lizard_url;
                }
                function nextpic(){
                    aName.unshift(aName[4]);//向数组第一个位置插入一个元素(第五个元素)
                    aName.pop();//删掉最后一个元素
                    for(var i=0,len=aLi.length;i<len;i++){
                        aLi[i].setAttribute("class",aName[i]);
                        if(aName[i]=="item1"||aName[i]=="item2"){
                            aLi[i].onclick = function(){prepic()};
                        }else if(aName[i]=="item3"){
                            console.log(i);
                            switch (i) {
                                case 0:
                                    aLi[i].onclick = function () {
                                        window.location.href = fish_url;
                                    };
                                    break;
                                case 1:
                                    aLi[i].onclick = function () {
                                        window.location.href = dog_url;
                                    };
                                    break;
                                case 2:
                                    aLi[i].onclick = function () {
                                        window.location.href = lizard_url;
                                    };
                                    break;
                                case 3:
                                    aLi[i].onclick = function () {
                                        window.location.href = cat_url;
                                    };
                                    break;
                                case 4:
                                    aLi[i].onclick = function () {
                                        window.location.href = bird_url;
                                    };
                                    break;
                            }
                        }else{
                            aLi[i].onclick = function(){nextpic()};
                        }
                    }


                }
                //把类名重新设置
                //向上翻页
                function prepic(){
                    aName.push(aName[0]);//在数组最后一个位置插入第一个元素
                    aName.shift();//把数组第一个元素删掉
                    for(var i=0,len=aLi.length;i<len;i++){
                        aLi[i].setAttribute("class",aName[i]);
                        if(aName[i]=="item1"||aName[i]=="item2"){
                            aLi[i].onclick = function(){prepic()};
                        }else if(aName[i]=="item3"){
                            console.log(i);
                            switch (i) {
                                case 0:
                                    aLi[i].onclick = function () {
                                        window.location.href = fish_url;
                                    };
                                    break;
                                case 1:
                                    aLi[i].onclick = function () {
                                        window.location.href = dog_url;
                                    };
                                    break;
                                case 2:
                                    aLi[i].onclick = function () {
                                        window.location.href = lizard_url;
                                    };
                                    break;
                                case 3:
                                    aLi[i].onclick = function () {
                                        window.location.href = cat_url;
                                    };
                                    break;
                                case 4:
                                    aLi[i].onclick = function () {
                                        window.location.href = bird_url;
                                    };
                                    break;
                                }
                            }else{
                            aLi[i].onclick = function(){nextpic()};
                        }
                    }

                }

            </script>
            <div id="Main">
                <div id="Sidebar">
                    <div id="SidebarContent">
                        <a href="/catalog/category?categoryId=FISH">
                            <img src="/images/fish_icon.gif" /></a>
                        <br />Saltwater, Freshwater
                        <br />
                        <a href="/catalog/category?categoryId=DOGS">
                            <img src="/images/dogs_icon.gif" /></a>
                        <br />Various Breeds
                        <br />
                        <a href="/catalog/category?categoryId=CATS">
                            <img src="/images/cats_icon.gif" /></a>
                        <br />Various Breeds, Exotic Varieties
                        <br />
                        <a href="/catalog/category?categoryId=REPTILES">
                            <img src="/images/reptiles_icon.gif" /></a>
                        <br />Lizards, Turtles, Snakes
                        <br />
                        <a href="/catalog/category?categoryId=BIRDS">
                            <img src="/images/birds_icon.gif" /></a>
                        <br />Exotic Varieties</div></div>
                <div id="MainImage">
                    <div id="MainImageContent">
                        <map name="estoremap">
                            <area alt="Birds" coords="72,2,280,250" href="/catalog/category?categoryId=BIRDS" shape="RECT" />
                            <area alt="Fish" coords="2,180,72,250" href="/catalog/category?categoryId=FISH" shape="RECT" />
                            <area alt="Dogs" coords="60,250,130,320" href="/catalog/category?categoryId=DOGS" shape="RECT" />
                            <area alt="Reptiles" coords="140,270,210,340" href="/catalog/category?categoryId=REPTILES" shape="RECT" />
                            <area alt="Cats" coords="225,240,295,310" href="/catalog/category?categoryId=CATS" shape="RECT" />
                            <area alt="Birds" coords="280,180,350,250" href="/catalog/category?categoryId=BIRDS" shape="RECT" /></map>
                        <img height="355" src="/images/splash.gif" align="middle" usemap="#estoremap" width="350" /></div>
                </div>
                <div id="Separator">&nbsp;</div></div>
        </div>

        <footer th:replace="common/template_menu::footer">

        </footer>
    </body>
</html>