<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.dao.LogMapper">

    <cache />

    <select id="addRecord" parameterType="org.csu.mypetstore.domain.Record">
    INSERT INTO LOGSHEET VALUES (#{username},#{record})
  </select>

    <select id="searchRecord" parameterType="java.lang.String" resultType="org.csu.mypetstore.domain.Record">
        SELECT
         userId AS username,
         record AS record
         FROM LOGSHEET
         WHERE userId = #{usernmae}
    </select>

</mapper>